header {
  background-color: #e0ecf3; }

.header__block {
  background: url("../img/topmenu_bg.png") no-repeat center top/contain;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 87px; }

.header-logo {
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 258px;
  width: 100%;
  height: 114px;
  margin-left: 10px;
  border: 6px solid #fff;
  border-radius: 8px;
  transform: rotate(-7deg);
  text-align: center;
  background-color: #e1ecf2; }
  .header-logo__title {
    margin-bottom: 4px;
    font-size: 44px;
    color: #299fca;
    font-weight: 900; }
  .header-logo__subtitle {
    margin-bottom: 14px;
    font-size: 15px;
    color: #299fca; }

.main-menu {
  max-width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  justify-content: space-between;
  padding-right: 100px; }
  .main-menu__item {
    font-size: 17px;
    list-style: none; }
    .main-menu__item a {
      color: #fff;
      text-decoration: none; }

* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Colaborate-Thin";
  src: url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.eot");
  src: url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.woff") format("woff"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.svg#Colaborate-Thin") format("svg"); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0ecf3; }

a {
  text-decoration: none; }

:-ms-input-placeholder {
  visibility: hidden; }

:focus, :active {
  outline: none; }

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto; }

#Layer_1 {
  fill: #62b1ce; }

.footer {
  padding-top: 25px;
  background-color: #1585ad;
  color: #fff; }
  .footer__main {
    display: flex;
    justify-content: space-between; }

.sub__news-title {
  margin-bottom: 17px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.sub__news-input {
  display: flex;
  margin-bottom: 32px; }

.sub__field {
  max-width: 193px;
  width: 100%;
  height: 31px;
  align-items: center;
  padding-left: 10px;
  margin-right: 12px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  border: none; }

.sub__submit {
  text-decoration: none;
  align-items: center;
  text-align: center; }
  .sub__submit input {
    width: 91px;
    height: 33px;
    font-size: 16px;
    color: #1380a7;
    background-color: #d6e6ef;
    border: none;
    border-radius: 6px;
    border: none; }

.sub__social-title {
  margin-bottom: 20px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.socials {
  display: flex; }
  .socials__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    margin-right: 10px;
    background-color: #3bb3de;
    border-radius: 50%; }

.contact__title {
  margin-bottom: 23px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.contact__item {
  margin-bottom: 15px; }

.contact__second-email {
  margin-top: 15px;
  display: flex;
  align-self: flex-end;
  justify-content: center; }

.contact-form__title {
  margin-bottom: 17px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.contact-form__block {
  display: flex;
  flex-direction: column; }

.contact-form__item {
  max-width: 193px;
  width: 100%;
  height: 31px;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 13px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  border: none; }

.contact-form__message {
  max-width: 284px;
  width: 100%;
  height: 57px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 13px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  resize: none; }

.contact-form__submit {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  max-width: 91px;
  width: 100%;
  height: 33px;
  font-size: 16px;
  color: #1380a7;
  background-color: #d6e6ef;
  border: none;
  border-radius: 6px; }

.copyright-block {
  display: flex;
  justify-content: center;
  font-family: "Colaborate-Thin"; }
  .copyright-block__copyright {
    margin-right: 15px; }

.special-icons {
  position: absolute;
  bottom: 37%;
  right: 2%;
  display: flex;
  align-items: flex-end; }
  .special-icons__spec {
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 10px;
    color: #64affc;
    background: url("../img/special-bg.png") no-repeat center bottom/contain;
    width: 146px;
    height: 95px;
    font-size: 25px; }
  .special-icons__offer {
    background: url("../img/offer-bg.png") no-repeat center bottom/contain;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding-bottom: 7px;
    width: 71px;
    height: 45px;
    font-weight: 600;
    font-size: 16px; }

.specials {
  position: relative;
  color: #fff;
  background: url("../img/cloud_2-inner.png") no-repeat center bottom/contain;
  background-color: #e0ecf3; }
  .specials::after {
    content: '';
    background: url("../img/cloud_1-inner.png") no-repeat center bottom/contain;
    display: inline-block;
    width: 100%;
    height: 406px;
    position: absolute;
    bottom: 0; }
  .specials__block {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 381px;
    padding-bottom: 25px; }
  .specials__item {
    display: flex;
    max-width: 285px;
    margin-top: 25px; }
  .specials__image {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 78px;
    width: 100%;
    height: 57px;
    margin-right: 16px; }

.special-our__item:first-child {
  display: flex;
  padding-bottom: 18px;
  margin-top: 17px;
  border-bottom: 2px solid #fff;
  border-bottom-style: dashed; }

.specials .about {
  max-width: 268px;
  width: 100%; }
  .specials .about__title {
    margin-bottom: 5px;
    font-size: 17px;
    color: #fff; }
  .specials .about__subtitle {
    max-width: 255px;
    font-size: 15px;
    color: #fff;
    font-family: "Colaborate-Thin"; }
  .specials .about__price-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px; }
  .specials .about__price {
    font-size: 27px;
    margin-right: 17px;
    color: #fff; }
  .specials .about__more {
    max-width: 101px;
    width: 100%;
    height: 27px;
    background-image: linear-gradient(to top, #e5db10 0%, #fff203 100%);
    font-size: 15px;
    border-radius: 6px;
    border: none; }
    .specials .about__more a {
      text-decoration: none;
      color: #64affc; }

.container-places {
  max-width: 1000px; }

.places {
  background-color: #d6e6ef; }
  .places__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px; }
  .places__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 74.2%;
    justify-content: space-between; }
  .places__item {
    flex-basis: 29.1%;
    margin-top: 40px; }
  .places__card-image {
    width: 100%; }
  .places__card-title {
    margin: 10px 0 13px 0;
    font-size: 21px;
    font-style: italic;
    color: #737070; }
  .places__card-about {
    font-size: 15px;
    font-family: "Colaborate-Thin";
    color: #737070;
    margin-bottom: 15px; }
  .places__read-more {
    display: block;
    max-width: 101px;
    width: 100%;
    padding: 8px 0;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to top, #127ea5 0%, #1ca7d9 100%); }

.destinations {
  width: 23.2%;
  margin-top: 31px; }
  .destinations__item {
    position: relative;
    padding: 64px 0 34px 33px;
    margin-bottom: 13px;
    background-color: #127ea5;
    border-radius: 6px; }
    .destinations__item a {
      color: #fff; }
  .destinations__title-block {
    position: absolute;
    top: 10px;
    left: 0; }
    .destinations__title-block::before {
      content: '';
      position: relative;
      left: -13px;
      bottom: -22px;
      z-index: 0;
      width: 15px;
      height: 30px;
      display: block;
      background: url("../img/ribbon-bg.png") no-repeat center center/contain; }
  .destinations__title-text {
    position: absolute;
    top: 0px;
    z-index: 49;
    width: 236px;
    height: 31px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 14px;
    color: #34abd6;
    text-transform: uppercase; }
  .destinations__title-bg {
    position: absolute;
    top: 0;
    left: -11px; }
  .destinations__list-item {
    font-family: "Colaborate-Thin";
    font-size: 15px;
    color: #fff;
    margin-bottom: 12px;
    list-style: none; }

/*# sourceMappingURL=inner.css.map */
