body {
  max-width: 1424px;
  margin: 0 auto;
}

header {
  background-color: #e0ecf3; }

.header__block {
  background: url("../img/topmenu_bg.png") no-repeat center top/contain;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 87px; }

.header-logo {
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 258px;
  width: 100%;
  height: 114px;
  margin-left: 10px;
  border: 6px solid #fff;
  border-radius: 8px;
  transform: rotate(-7deg);
  text-align: center;
  background-color: #e1ecf2; }
  .header-logo__title {
    margin-bottom: 4px;
    font-size: 44px;
    color: #299fca;
    font-weight: 900; }
  .header-logo__subtitle {
    margin-bottom: 14px;
    font-size: 15px;
    color: #299fca; }

.main-menu {
  max-width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  justify-content: space-between;
  padding-right: 100px; }
  .main-menu__item {
    font-size: 17px;
    list-style: none; }
    .main-menu__item a {
      color: #fff;
      text-decoration: none; }

* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Colaborate-Thin";
  src: url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.eot");
  src: url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.woff") format("woff"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3a8229b1585ebcf4a7206950df8f7649.svg#Colaborate-Thin") format("svg"); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0ecf3; }

a {
  text-decoration: none; }

:-ms-input-placeholder {
  visibility: hidden; }

:focus, :active {
  outline: none; }

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto; }

#Layer_1 {
  fill: #62b1ce; }

.footer {
  padding-top: 25px;
  background-color: #1585ad;
  color: #fff; }
  .footer__main {
    display: flex;
    justify-content: space-between; }

.sub__news-title {
  margin-bottom: 17px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.sub__news-input {
  display: flex;
  margin-bottom: 32px; }

.sub__field {
  max-width: 193px;
  width: 100%;
  height: 31px;
  align-items: center;
  padding-left: 10px;
  margin-right: 12px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  border: none; }

.sub__submit {
  text-decoration: none;
  align-items: center;
  text-align: center; }
  .sub__submit input {
    width: 91px;
    height: 33px;
    font-size: 16px;
    color: #1380a7;
    background-color: #d6e6ef;
    border: none;
    border-radius: 6px;
    border: none; }

.sub__social-title {
  margin-bottom: 20px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.socials {
  display: flex; }
  .socials__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    margin-right: 10px;
    background-color: #3bb3de;
    border-radius: 50%; }

.contact__title {
  margin-bottom: 23px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.contact__item {
  margin-bottom: 15px; }

.contact__second-email {
  margin-top: 15px;
  display: flex;
  align-self: flex-end;
  justify-content: center; }

.contact-form__title {
  margin-bottom: 17px;
  font-size: 25px;
  text-shadow: 1px 1px 0 rgba(15, 111, 146, 0.75); }

.contact-form__block {
  display: flex;
  flex-direction: column; }

.contact-form__item {
  max-width: 193px;
  width: 100%;
  height: 31px;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 13px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  border: none; }

.contact-form__message {
  max-width: 284px;
  width: 100%;
  height: 57px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 13px;
  font-size: 14px;
  background-color: #0f6686;
  box-shadow: inset 1px 3px 8px rgba(13, 66, 85, 0.75);
  border-radius: 6px;
  resize: none; }

.contact-form__submit {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  max-width: 91px;
  width: 100%;
  height: 33px;
  font-size: 16px;
  color: #1380a7;
  background-color: #d6e6ef;
  border: none;
  border-radius: 6px; }

.copyright-block {
  display: flex;
  justify-content: center;
  font-family: "Colaborate-Thin"; }
  .copyright-block__copyright {
    margin-right: 15px; }

.cloud-index {
  position: relative;
  z-index: 2; }

.booking {
  position: relative;
  background-color: #e0ecf3; }
  .booking__block {
    display: flex;
    flex-direction: column;
    position: relative; }
  .booking__about {
    display: flex;
    width: 100%;
    height: 302px; }
  .booking__slider {
    position: relative;
    left: 0;
    width: 639px; }

.cloud-bg-first {
  background: url("../img/photoeditorsdk-export (3).png") no-repeat center bottom/cover #e0ecf3;
  position: absolute;
  bottom: -192px;
  width: 100%;
  height: 242px;
  z-index: 0; }

.cloud-index {
  position: relative;
  z-index: 2; }

.prev {
  background: url("../img/left_arrow.png") no-repeat center center/contain;
  width: 42px;
  height: 42px;
  display: block;
  position: absolute;
  bottom: 130px;
  z-index: 99; }

.next {
  background: url("../img/right_arrow.png") no-repeat center center/contain;
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 101px;
  z-index: 99;
  left: 49px; }

.booking__slider .about__slider {
  display: none;
  position: absolute; }

.booking__slider .about__text {
  position: relative;
  background: url("../img/cloud-plane.png") no-repeat center right/contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 439px;
  padding-left: 108px;
  height: 400px; }

.booking__slider .about__title {
  font-size: 51px;
  font-weight: 600;
  color: #127ea5;
  text-transform: uppercase; }

.booking__slider .about__subtitle {
  max-width: 300px;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 400;
  color: #ded90e; }

.slider {
  width: 650px;
  margin: 0 auto; }
  .slider__block {
    max-width: 655px;
    padding-left: 266px; }
  .slider__block img {
    position: absolute;
    top: 75px;
    left: -85px; }
  .slider img {
    width: 200px;
    height: 200px;
    margin: 0 auto; }

.slick-slide {
  width: 988px; }

.slick-list {
  padding: 0 46px; }

.booking__form {
  max-width: 308px;
  border-radius: 10px;
  border: 7px solid #53aed5;
  background-color: #299fca;
  color: #fff; }

.form {
  position: absolute;
  right: -20px; }
  .form__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 11px; }
    .form__item label {
      margin-right: 11px; }
  .form__title {
    color: #fff;
    font-size: 21px;
    background: url("../img/online_booking.png") no-repeat center bottom/contain;
    height: 50px;
    max-width: 218px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 18px;
    left: -26px;
    top: 26px;
    position: absolute; }
    .form__title::after {
      content: none;
      height: 40px;
      width: 40px;
      transform: rotate(45deg); }
  .form__block {
    padding: 35px 33px 0 18px; }

.title__wraper {
  position: relative;
  height: 40px; }

.input__name input {
  max-width: 171px;
  width: 100%;
  height: 25px;
  padding-left: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fff;
  border: 3px solid #a7d1e6;
  color: #299fca; }

.input__email input {
  max-width: 171px;
  width: 100%;
  height: 25px;
  padding-left: 4px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #fff;
  border: 3px solid #a7d1e6;
  color: #299fca; }

.input__submit {
  display: flex;
  justify-content: space-between; }
  .input__submit::before {
    content: url("../img/ladder.png"); }
  .input__submit input {
    max-width: 97px;
    width: 100%;
    height: 33px;
    font-size: 15px;
    color: #64affc;
    background-image: linear-gradient(to top, #e5db10 0%, #fff203 100%);
    border-radius: 6px;
    border: none;
    cursor: pointer; }

.input__nessage {
  display: flex;
  align-items: flex-start; }
  .input__nessage textarea {
    max-width: 171px;
    width: 100%;
    height: 57px;
    padding-left: 4px;
    padding-top: 4px;
    border: 3px solid #a7d1e6;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none; }

.select__block {
  max-width: 171px;
  width: 100%;
  height: 31px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 3px solid #a7d1e6;
  border-radius: 6px;
  color: #299fca;
  background-color: #fff;
  -webkit-appearance: none;
  background: url("../img/select-arrow.png") no-repeat center right/contain #fff;
  cursor: pointer; }

option {
  border-radius: 6px;
  color: #299fca;
  background-color: #fff; }

.specials {
  display: flex;
  justify-content: space-between;
  max-width: 968px;
  width: 100%;
  padding-bottom: 30px; }

.special-offer {
  height: 536px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  background: url("../img/cloud_1.png") no-repeat center bottom/cover; }

.our__title {
  color: #fff;
  font-size: 29px;
  text-align: start;
  margin-bottom: 11px; }

.special-our {
  color: #fff; }
  .special-our__image {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 78px;
    width: 100%;
    height: 57px;
    margin-right: 16px; }
  .special-our__item {
    display: flex;
    max-width: 380px;
    margin-top: 25px; }

.special-our__item:first-child {
  display: flex;
  padding-bottom: 18px;
  margin-top: 17px;
  border-bottom: 2px solid #fff;
  border-bottom-style: dashed; }

.specials-our .about {
  max-width: 268px;
  width: 100%; }
  .specials-our .about__title {
    margin-bottom: 5px;
    font-size: 17px;
    color: #fff; }
  .specials-our .about__subtitle {
    max-width: 255px;
    font-size: 15px;
    color: #fff; }
  .specials-our .about__price-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px; }
  .specials-our .about__price {
    font-size: 27px;
    margin-right: 17px;
    color: #fff; }
  .specials-our .about__more {
    max-width: 101px;
    width: 100%;
    height: 27px;
    background-image: linear-gradient(to top, #e5db10 0%, #fff203 100%);
    font-size: 15px;
    border-radius: 6px;
    border: none; }
    .specials-our .about__more a {
      text-decoration: none;
      color: #64affc; }

.sp-su {
  width: 55%; }

.su__menu {
  display: flex;
  width: 47%; }

.notification {
  display: flex;
  position: absolute;
  left: 59%;
  bottom: -60px;
  z-index: -4; }
  .notification__item--spec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    text-align: start;
    width: 124px;
    height: 135px;
    font-size: 28px;
    border-radius: 50%;
    color: #64affc;
    background-color: #f2e60a;
    padding-top: 26px;
    position: relative;
    left: 39px;
    padding-left: 18px; }
  .notification__item--offer {
    width: 71px;
    height: 71px;
    background-color: #34abd6;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    position: relative;
    top: 49px; }

.su-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #81ffff;
  position: relative; }
  .su-menu__item {
    max-width: 117px;
    width: 100%;
    height: 29px;
    margin-right: 6px;
    font-size: 15px;
    text-transform: uppercase;
    color: #81ffff;
    background-color: #299fca;
    border-radius: 6px 6px 0 0;
    border: none;
    cursor: pointer; }
    .su-menu__item--active {
      background-color: #81ffff;
      color: #299fca; }

.sp-su-list {
  padding-top: 24px;
  position: relative;
  z-index: 999;
  background-color: #127ea5; }
  .sp-su-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Colaborate-Thin";
    color: #fff; }
    .sp-su-list__item::before {
      content: url("../img/arrow__item.png");
      width: 10px;
      height: 12px;
      margin-left: 10px;
      margin-right: 5px; }

.sp-su__name {
  display: flex;
  max-width: 299px;
  width: 100%;
  flex-grow: 2;
  color: #fff; }

.sp-su__days {
  display: flex;
  flex-grow: 1;
  padding-left: 50px;
  color: #fff; }

.sp-su__more {
  color: #fff; }

.continent--active {
  fill: #3f849d;
  display: block; }

.travel-map {
  background-color: #d6e6ef; }

.travel-map {
  text-align: center; }
  .travel-map__title {
    margin: 10px auto 0;
    font-size: 27px;
    color: #4690b4; }
  .travel-map__subtitle {
    margin: 0 auto 13px;
    font-size: 17px;
    color: #6ab5d0; }
  .travel-map__viewport {
    background-image: linear-gradient(to top, rgba(207, 201, 201, 0.55) 0%, rgba(248, 244, 244, 0.55) 100%); }
  .travel-map__list {
    max-width: 253px;
    padding: 23px 15px 20px 15px;
    background-image: linear-gradient(to top, rgba(207, 201, 201, 0.55) 0%, rgba(248, 244, 244, 0.55) 100%);
    border-radius: 8px; }
    .travel-map__list--disable {
      display: none; }
    .travel-map__list--active {
      display: block; }
  .travel-map__description {
    margin-top: 23px;
    font-size: 23px;
    color: #b2aaaa; }

#container-scroll {
  position: relative;
  height: 182px; }

.places-list__title {
  margin-bottom: 8px;
  font-size: 17px;
  color: #a4a4a4;
  text-align: start; }

.places-list__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #a4a4a4;
  text-align: start; }

.places-list-item {
  display: flex;
  width: 221px; }
  .places-list-item img {
    margin-right: 10px;
    margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
